<!--
  Generated template for the Finish page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar class="navbar-logo">
              <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
              <img src="assets/img/icon2.png" (click)="popover()" class="icon2class" />
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="backgruond-category-img">

    <div class="profilecard">

      <div class="progress-wrapper main-finish">
            <div class="current">{{grandtotal}}%</div>
              <round-progress 
                    [current]="grandtotal" 
                    [max]="100"
                    [color]="'#00acd4'"
                    [background]="'rgba(255, 255, 2555, 0.2)'"
                    [radius]="125"
                    [stroke]="20"
                    [rounded]="false"
                    [clockwise]="true"
                    [responsive]="true"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
              </round-progress>    
      </div>
        

    <div class="score-text">Score</div>


        <div class="scoring">
          <div class="total-questions result-div">{{total}}<div>Total <span>Questions</span></div></div>
          <div class="correct-questions result-div">{{correct}}<div>Correct <span>Answers</span></div></div>
          <div class="wrong-questions result-div">{{wrong}}<div>Wrong <span>Answers</span></div></div>
        </div>
  

    </div>


      <div class="ftr-buttons">
        <div class="btn-reset" (click)="restartTest()" >
          Restart
        </div>

        <div class="btn-check" (click)="emailtotutor()" >
            Email to Tutor
          </div>
      </div>

</ion-content>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>