page-finish {

    .btn-check, .btn-reset{
        line-height: 28px;
    }

}
.scoring > div {
    display: inline-block;
    margin: 0 auto;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding-right: 30px;
    margin-right: 30px;
}
.scoring > div:last-child{ margin-right: 0; padding-right: 0; border: 0;}
.scoring .result-div {
    font-size: 38px;
    font-weight: 600;
    color: orange;
    line-height: 1;
    text-align: center;
}

.scoring .result-div > div {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 2px;
}

.scoring .result-div > div span {
    display: block;
    font-size: 12px;
    padding-top: 3px;
    font-weight: 300;
}
@media (max-width:460px){
    .scoring > div{ padding-right: 20px; margin-right: 20px;}
}

.ftr-buttons {
    margin: 15px auto 0;
    display: table;
}

.main-finish{
    margin: 10px;
}

.score-text{
    margin: 25px;
    font-size: 25px;
    font-weight: 600;
}

.progress-wrapper {
    position: relative;
    margin: 0px auto;
    font-size: 40px;
    padding: 0 40px;
}
.current {
    position: absolute;
    color: #fff;
    font-weight: 100;
    line-height: 1;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 50px;
    font-weight: 500;

}


