<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar class="navbar-logo">
                <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
                <img src="assets/img/icon2.png" class="icon2class" (click)="popover()"/>
    
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content class="backgruond-category-img">
    
      <div style="margin: 20px;" class="home-text">
        About       
      </div>
      <p class="about-para">
          Teaching and learning citation and referencing can be challenging. Despite continued efforts, many students fail to grasp the proper syntax and continue to cite incorrectly. This smartphone application aids towards the teaching and learning of referencing and citing academic work. 
          It offers a ‘hands-on’ approach of practice. Users drag and drop the components in the correct sequence, check its accuracy and upon completion of a set of exercises, email the results to their tutors.
          The application incorporates all the five major styles of referencing (Harvard, MLA, APA Chicago and MHRA) and hence is not subject-specific. It has been developed and designed so that it is simple, convenient and easy to use. There are no requirements to register or log in and neither does it require any other details of the user.
          It is, and will always remain free to use with no intrusive ads and given that it is not subject, institution, country or region-specific, it will find wide global appeal amongst anyone involved in academic writing. 
      </p>

</ion-content>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>