page-category {

    .home-text{
            margin-top: 40px;
            margin-bottom: 20px;

    }

    .fa{
        font-size: 20px !important;
        padding: 13px;
    }

    .icon-button-home{
        width: 16%;
    }

    .home-button{
         width: 84%;
        padding: 10px 0px 10px 20px;
         font-size: 16px;

       
    }
       

.category-div{
    //margin: 15px;
    padding: 0 40px;
}
//.category-div .home-button-div i{ background: #00acd4;}

}
.icon2class{
    float: right;
    margin-top: 6px;
    margin-right: 15px
}