<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="navbar-logo">
            <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
            <img src="assets/img/icon2.png" class="icon2class" (click)="popover()"/>

  </ion-navbar>

</ion-header>


<ion-content class="backgruond-category-img">

  <div class="home-text">
        SELECT CATEGORY
  </div>


  <div class="category-div" >

      <div  *ngFor="let category of category1" class="home-button-div">
          <i aria-hidden="true" class="icon-button-home fa {{category.icon}} "></i>
          <button class="home-button" (click)="question(category.id,category.title)">{{category.title}}</button>
      </div>

  </div>

</ion-content>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
  <ion-list>
    <ion-item> 
      <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
         
    </ion-item>
    
    <ion-item (click)="contact()">
        <i class="list_icon fa fa-envelope-o"></i>
    </ion-item>
    
    <ion-item (click)="about()">
        <i  class="list_icon fa fa-file-text"></i>
    </ion-item>
    
  </ion-list>
</div>

