<!--
  Generated template for the Emailtutor page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar class="navbar-logo">
                <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
                <img src="assets/img/icon2.png" class="icon2class" (click)="popover()"/>
    
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content class="backgruond-category-img">

      <div class="home-container">

        <h1 class="home-text">Share results with your Tutor</h1>

        <ion-item class="item_data">
            <ion-label class="email_label" stacked>Student name</ion-label>
            <ion-input class="item_input" [(ngModel)]="studentname" type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="item_data">
            <ion-label class="email_label" stacked>Tutor's email</ion-label>
            <ion-input class="item_input" type="email" [(ngModel)]="email"  placeholder=""></ion-input>
        </ion-item>

        <ion-item class="item_data">
            <ion-label class="email_label" stacked>Comments</ion-label>
            <ion-textarea class="item_input myclass" style="border-radius: 5px;height: 150px;margin-bottom: 10px;" [(ngModel)]="comment" placeholder=""></ion-textarea>
        </ion-item>

       

        <div class="ftr-buttons">
            <button class="btn-reset" style="margin-bottom: 10px;" full (click)="sendemail()" >
              Send
            </button>
        </div>
      </div>
</ion-content>


<div class="my-content loading" [hidden] = "loader">
  
   <ion-spinner name="bubbles"></ion-spinner>
     <div style="color: white"> Loading</div></div>


     <!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>