page-emailtutor {

    .home-container{
        padding: 0px 20px;
}


    
.home-text {
    margin-top: 40px;
    margin-bottom: 20px;
}


.item_data{
    margin-bottom: 10px;
    border-radius: 5px;
    background: none;
}

.email_label{
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 500;
}

.item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    padding-right: 16px;
    border-bottom: none;
}

.item_input{
    border: 1px solid #fff;
    height: 45px;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
}

.btn-check, .btn-reset{
    width: 100%;
}

.ftr-buttons{
    margin: 15px 10px 0;
    display: block;
}

.item.item-input.item-input-has-focus .item-inner{
    border-bottom: none;
    box-shadow: none;
}

.data_email{
    padding: 8px 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.label-md[stacked], .label-ios[stacked]{
    margin-left: 0;
    margin-bottom: 10px;
}

.myclass .text-input {
    height: 124px;
}

}
