<!--
  Generated template for the Contact page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar class="navbar-logo">
                <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
                <img src="assets/img/icon2.png" class="icon2class" (click)="popover()"/>
    
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content class="backgruond-category-img">
    
      <div style="margin: 20px;" class="home-text">
            Contact Us
      </div>

      <div class="contact_us">
        <p>Please contact us at:</p>
        info@citex.org.uk
      </div>

</ion-content>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>