<ion-content class="backgruond-category-img">

    <div class="home-logo">
       <img src="assets/img/citex-logo-white.png" class="citex-logo-image" />
    </div>

    <div class="home-text">
        Please select your citation style
    </div>


    <div class="home-container">

    <div class="home-dropdown">
        <ion-item class="home-item-dropdown" > 
            
            <ion-select [(ngModel)]="select_style" interface="popover" placeholder="Select Type" class="home-select">
                <ion-label>Select Style</ion-label>
                <ion-option value="harvard">HARVARD</ion-option>
                <ion-option value="apa">APA</ion-option>
                <ion-option value="mla">MLA</ion-option>
                <ion-option value="chicago">CHICAGO</ion-option>
                <ion-option value="mhra">MHRA</ion-option>
            </ion-select>
        </ion-item>

    </div>

    <div class="home-button-div" (click)="refrencelist()">
        <i class="icon-button-home fa fa-list " aria-hidden="true"></i>
        <button class="home-button">Reference List</button>
    </div>


    <div class="home-button-div" (click)="textcitation()">
        <i class="icon-button-home fa fa-text-width" aria-hidden="true"></i> 
        <button class="home-button" >In-text citation</button>
    </div>

    </div>

</ion-content>

<div class="my-content loading" [hidden] = "loader">
        
         <ion-spinner name="bubbles"></ion-spinner>
           <div style="color: white"> Loading</div></div>