page-home {
       
    .fa{
        font-size: 25px !important;
        padding: 11px;
    }

    .item-md{
        font-size: 20px !important;
    }
        
}



.backgruond-home-img{

    background: #46d2fc;
    background: -moz-radial-gradient(center, ellipse cover, #46d2fc 0%, #0fa9cd 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #46d2fc 0%,#0fa9cd 100%);
    background: radial-gradient(ellipse at center, #46d2fc 0%,#0fa9cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46d2fc', endColorstr='#0fa9cd',GradientType=1 );

    //  background-image: url("../assets/img/bg-citex.png");
        //  background-repeat: no-repeat;
        // background-position: 50% 50%;
        //  background-size: cover;
}
.home-logo{
            text-align: center;
}
.citex-logo-image{
        width: 200px;
}
.home-text{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.home-button-div{
       margin-bottom: 15px;
}

.icon-button-home{
    color: white;
    background: #0a8cad;
    width: 20%;
    height: 45px;
    text-align: center;
    margin: 0px;
    font-size: 45px;
    text-align: center;
    vertical-align: top;
    border-radius: 5px 0 0 5px;
    font-weight: 600;
}
.home-button{

    width: 80%;
    height: 45px;
    background: #fff;
    padding: 10px 40px 10px 20px;
    font-size: 20px;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
    /* vertical-align: middle; */
    font-weight: 600;
    text-align: left;

}

.home-container{
        padding: 0 40px;
}

.home-dropdown{
    margin: 35px 0px 15px;
   // width: 75%;
    /* text-align: center; */
   // margin-left: auto;
    //margin-right: auto;
}

.home-item-dropdown{
    border-radius: 5px;
    height: 45px;
    font-size: 20px ;
    color: black;
}

.home-select{
    max-width: 100%;
    width: 100%;
    padding: 13px 8px 13px 0px;
    font-size: 20px;
    font-weight: 600;
}
.home-select .select-icon .select-icon-inner{
        color: black;
}

.select .select-icon .select-icon-inner {
        margin-top: 0;
}

///POPUP Class
.alert-md .alert-head, .alert-ios .alert-head {
                background: black;
                color: white;
                }
.alert-button-group{
        background: black;
}
.alert-md .alert-button, .alert-ios .alert-button{
        color: white;
}


//// category Page 

.citexnavbar-logo{
    height: 35px;
}
.navbar-logo{
    text-align: center;
}

.backgruond-category-img{
    background: #003744;
        //  background-image: url("../assets/img/bg-blck-citex.png");
        //  background-repeat: no-repeat;
        //  background-position: 50% 50%;
        //   background-size: cover;
}



//Loading Content


.loading{
    text-align: center;
    padding: 70% 0;
    font-size: 20px;
}
 
ion-spinner {
 // width: 28px;
 // height: 28px;
   stroke: #fff;
   fill: #fff;
 }

 .my-content{
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px white;
    background-color: rgba(48, 112,127 , 0.6)
}


.back-button-text-ios {
    letter-spacing: -.01em;
    display: none;
}


.ion-md-arrow-back:before {
    content: "\f3cf";
}

.back-button-md {
    margin: 0;
    min-width: 0; 
    -webkit-box-shadow: none;
    box-shadow: none;
}

.back-button-icon-md {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 30px;
    font-weight: normal;
    color: #00acd4;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #00acd4;
    background-color: transparent;
}

/// POPUP

.popup-box{
    padding: 8px;
    border-radius: 2px;
    width: 70px;
    top: 55px;
    color: #000;
    background: #fcfcfc;
    -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto !important;
    position: absolute;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        overflow: hidden;
}
.popup-box .item-md{
    padding: 0 !important;
}
.popup-box .fa {
    font-size: 30px !important;
    padding: 13px;
}
.popup-box .list_icon {
    font-size: 30px;
    color: #0274b3;
    margin: 0px 0px 0px 0px;
}
.popup-box .label-md, .popup-box .list-md{ margin: 0 !important;  }
.popover-ios .popover-content{ top: 40px !important;}
.about-para{
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-align: justify;
}
