<!--
  Generated template for the Thankemail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar class="navbar-logo">
                <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
                <img src="assets/img/icon2.png" class="icon2class" (click)="popover()"/>
    
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content class="backgruond-category-img">

      <div class="profilecard">
    
           <div class="thanksemail">Your scores have been successfully sent to your tutor</div>
           <div class="ftr-buttons">
              <div class="btn-reset" (click)="restartTest()" >
                Restart
              </div>
      
              <div class="btn-check" (click)="exit()" >
                  Exit
                </div>
          </div>

      </div>
    
</ion-content>

   <!-- POPUP MENU -->
   <div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>