page-thankemail {
    .profilecard{
        margin: 50% auto;
    }
        .thanksemail{
            font-size: 18px;
            white-space: normal;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            height: 100%;
            padding: 25px;
            font-weight: 600;
        }
        .ftr-buttons {
            margin: 0 auto;
            display: table;
        }
        .btn-check{
            background: #f53d3d;
        }
        .btn-reset, .btn-check{
            line-height: 28px;
        }
    }
