<!--
  Generated template for the Questions page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="navbar-logo">
            <img src="assets/img/citex-logo1.png" class="citexnavbar-logo" />
            <img src="assets/img/icon2.png" (click)="popover()" class="icon2class"/>
  </ion-navbar>

</ion-header>


<ion-content class="backgruond-category-img">

  <div class="profilecard">

      <div class="question-info" [hidden]="errormsg" [innerHTML]="error_text"></div>

<div [hidden]="questionmsg">
  <div class="question-info"> Question Number {{count}} / {{total}} </div>
      
      
 
      <!--Question class-->
      <div [innerHTML]="question_text"></div>


<!--Drag able Div-->
<div>
      <!--Repeated Element-->
    <div id="copy-drop" [dragula]='"any-bag"'>
      <div id="repeat_{{j}}" class="repeats-btn" *ngFor="let repeats of repeatables;let j =index" [innerHTML]="repeats"></div>
    </div> 



      <div id="no-repeat" [dragula]='"any-bag"'>
        <div id="no_repeat_{{k}}" class="confusing-btn" *ngFor="let confusing of confusing_array; let k = index" [innerHTML]="confusing">
        </div>
      </div>
</div>
<!--End Dragable div-->

<!--fixed Elements-->
<div style="margin-top:10px;">
  <div *ngFor="let fix of fixed;let i = index " class="display-fix">
    <div  *ngIf="fix == ''" class="dropable-button display-fix blank-row"  >
      
      <div  [dragula]='"any-bag"' class="drag-element" >
      </div>

    </div>

    <div  *ngIf="fix != ''" class="display-fix" >{{fix}}</div>
  </div>
</div>

<!-- Button Div -->
<div class="btn-div">
    <button [hidden]="previous" class="next-div" (click)="previousquestion()"><i class="next-icon icon-reset fa fa-angle-left"></i></button>
    <button class="btn-reset" (click)="reset()">
       <!-- <i class="icon-reset fa fa-repeat"></i>  -->
      Reset</button>
    <button class="btn-check" (click)="check(index)">
      <!-- <i class="icon-reset fa fa-check-square-o"></i> -->
      Check</button>
    <button class="btn-check" (click)="finish()">
       <!-- <i class="icon-reset fa fa-check-square"></i>  -->
      Finish</button>
    <button [hidden]="nextbutton" class="next-div" (click)="next()">
      <i class="next-icon icon-reset fa fa-angle-right"></i></button>
</div>

<div class="final-result">
<div  [hidden]="incorrect" ><i class="fa fa-close"></i></div>
<div  [hidden]="correct" ><i class="fa fa-check"></i></div>
</div>

</div>




  </div>

  <ion-fab class="fab_button" >
    <button ion-fab (click)="openpop()"><i class="icon-reset fa fa-lightbulb-o"></i></button>
  </ion-fab>
 
</ion-content>

<!-- Loader popup-->

<div class="my-content loading" [hidden] = "loader">
 
  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>


   <!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://citex.org.uk/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>
  


<!-- Help PopUp -->
<!--PopUp Box For Items-->

<div class="my-content my-content1" [hidden]="help_popup">

  <div class="popup-wrapper"> 
          
          <ion-content class="mypopupcontent">

            <div style="border-bottom: 1px solid;">
              <i style="float:right;font-size:25px;" class="fa fa-times-circle-o" (click)="close()"></i>
              <h3>Format </h3>
            </div>
            
           
          <p>
              Author(s). Year of publication (in brackets) Book title in italics followed by a full stop. Edition (if not the first) e.g. 2nd ed. Place of publication followed by a colon: Publisher followed by a full stop.
          </p>
          
          </ion-content>
        
  </div>
    
    
</div>