page-questions {


    
.my-content1{
    background-color: rgba(48, 112, 127, 0.88);
}

h3{
    margin-top: 0px;
}

    .question-info {
    padding: 0 0 15px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.dragbox {
    display: inline-block;
    margin: 15px 0;
}



}
    .profilecard{
    padding: 20px ;
    color: #fff;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    font-size: 15px;
    /* text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px; */
}

.repeats-btn{
    font-size: 14px;
    height: 25px;
    width: 30px;
    background: #ff5400;
    padding: 0px;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    position: relative;
}

.repeats-btn:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff5400;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

.confusing-btn{
    position: relative;
    font-size: 14px;
    background: #0a8cad;
    color: white;
    height: 28px;
    font-weight: 400;
    margin: 5px 2px;
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
    line-height: 27px;
    //border: 1px dashed rgba(255,255,255,0.8);

}
.confusing-btn:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0a8cad;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
.fa-close{ color: red; font-size: 30px !important;}
.fa-check{ color: greenyellow; font-size: 30px !important;}
.drag-element{
    visibility: visible;
    border-bottom: 2px solid #fff;
    margin-bottom: 0px;
    clear: both;
    background: none;
    min-width: 40px;
    padding: 0;
    min-height: 20px;
}

.display-fix{
    display: inline-block;
    padding: 0 2px;
}

.drag-element .confusing-btn {
    font-size: 14px;
    background: none;
    color: white;
    height: 15px;
    font-weight: 400;
    border-radius: 2px;
    margin: 0;
}

.drag-element .repeats-btn {
    font-size: 14px;
    height: 15px;
    width: 30px;
    background: none;
    padding: 0;
    color: white;
    font-weight: 400;
    margin: 0;
}

.btn-div{
    margin: 25px 0;
    text-align: center;
}

.btn-reset {
    background-color: #f5821f;
    display: inline-table;
    padding: 0 10px;
    height: 30px;
    border-radius: 4px;
    line-height: 1px;
    margin: 0 2px;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.icon-reset{
    padding: 0px 6px 0 0;
    margin-top: 0px;
    font-weight: 600;

}

.btn-check{

    background-color: #33d402;
    display: inline-table;
    padding: 0 10px;
    /* float: left; */
    height: 30px;
    border-radius: 4px;
    line-height: 1px;
    margin: 0 2px;
    color: white;
    font-size: 17px;
    font-weight: 500;

}

.next-div{
    font-size: 25px;
    border-radius: 5px;
    background: none;
    color: #fff;
    height: 30px;
    line-height: 22px;
}

.next-icon{
    font-size: 25px;
    height: 26px;
    vertical-align: top;
    padding: 0;
    font-weight: 900;
}

#no-repeat{
    min-height: 40px;
}

.final-result {
    padding: 20px 0 0;
    width: 40px;
    margin: 0 auto;
}


.fab_button{
    bottom: 20px;
    right: 18px;
}

.fab_button .fab-md, .fab_button .fab-ios{
    font-size: 23px;
    text-align: center;
    background-color: #0a8cad;
    color: #555;
    width: 40px;
    height: 40px;
    
}
.fab_button .fab-md i, .fab_button .fab-ios i{padding:0;font-weight: 400;color: yellowgreen}

.popup-wrapper{
    height: 40%;
    width: 70%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.popup-wrapper ion-header{
    position: relative;
}



.mypopupcontent .scroll-content{
    margin-top: 0 !important; 
    padding: 20px;
    color: #fff
}

.mypopupcontent p{
    font-size: 15px;
}
.mypopupcontent{
    background: rgba(0,55,68,0.8);
}



